.investordashboardleft-container {
    height: 25vh;
    margin-top: 70px;
    width: 1500px;
    /* border-left: 1px solid #000; */
    border-bottom: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 50px; */
}

.investortop-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    border: 1px solid #000;   
    border-radius: 20px;
    padding: 20px;
    width: 300px;
    height: 15vh;
    margin: 30px;
}

.investortop-img-container {
    width: 30%;
}

.investortop-img-container img {
    width: 30%;
}

.investortop-numbers, .investortop-tagline, .investortop-img-container {
    margin: 10px;
}

/* .totalamountInvested div, .totalamountInvested p, .currentprofits div, .currentprofits p {
    margin: 10px;
}

.totalamountInvested div, .currentprofits div {
    width: 30%;
}

.totalamountInvested div img {
    width: 30%;
} */