/* Style for the container */
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 95vh;
    background-color: #fff;
  }
  
  /* Style for the logo */
  .header-logo {
    width: 50%;
    height: 100px;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1.5rem;
  } 

  .header-logo img {
    width: 20%;
    border-radius: 50%;
    margin: 0.5rem;
  }
  
  /* Style for the title */
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
  }
  
  /* Style for the warning box */
  .warning-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #ffeeba;
    border: 1px solid #ffc107;
    border-radius: 5px;
  }
  
  /* Style for the warning icon */
  .warning-icon {
    font-size: 2rem;
    color: red;
    margin-right: 10px;
  }

  /* Style for the message container */
  .message-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    /* background-color: #615e5e; */
    background: rgb(180,255,174);
    background: linear-gradient(90deg, rgba(180,255,174,1) 0%, rgba(213,255,222,1) 32%, rgba(180,255,174,1) 100%);
    width: 90%;
    height: 95vh;
    border-radius: 8px;
    box-shadow: 0 0 16px 1px rgb(184, 179, 179) inset; 
    padding-top: 400px;
    overflow: auto;
  }

  .message-container p {
    color: #fff;
    margin-bottom: 30px;
    font-size: 1.5rem;
  }

  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .form input {
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-bottom: 20px;
    width: 25rem;
    height: 40px;
  }

  .form button {
    width: 10rem;
    height: 2rem;
    border: none;
    border-radius: 5px;
  }

  .form button:hover {
    background-color: #242222;
    cursor: pointer;
    color: #ffeeba;
  }

  .success-div {
    background-color: rgb(142, 224, 142);
    color: #585344;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
  }

  /* Card section */
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    padding-top: 15px;
    grid-gap: 50px;
  } 
  
  .card {
    width: calc(33.33% - 20px);
    background-color: #f1f1f1;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .card-info {
    margin-bottom: 12px;
  }

  .card-info p {
    color: #000;
    font-size: 1rem;
  }
  
  .card-buttons {
    display: flex;
    justify-content: space-between;
    box-shadow: green;
  }

  .status .pending {

    color: red;
    font-size: 1rem;
  }

  .status .approved {
    color: green;
    font-size: 1rem;
  }

  .dao-name {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }

  .reports div {
    border: 1px solid #000;
    border-radius: 5px;
    margin: 3px;
    padding: 10px;
    cursor: pointer;
  }
  