.maininvestordashboard-container {
    width: 1300px;
    margin-left: 50px;
    /* border: 1px solid #000; */
 }
 
.investordashboard-main-container {
    width: 100%;
    border: 1px solid #000;
    border-top-left-radius: 30px;
    display: flex;
    flex-direction: column;
    border-bottom: none;
    border-right: none;
}