/* Center the contents of the page */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  /* Style the heading */
  h1 {
    font-size: 3rem;
    /* margin-bottom: 2rem; */
  }
  
  /* Style the buttons */
  button {
    background-color: #007bff;
    border: none;
    color: black;
    padding: 1rem 2rem;
    margin-right: 1rem;
    font-size: 1.5rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  /* Add hover effect to the buttons */
  button:hover {
    background-color: #0062cc;
  }

  .dao-heading {
    padding-top: 20px;
    font-size: 3rem;
  }

  .gradient-btn.v2 {
    color: #fff;
    height: 55px;
    line-height: 36px;
    padding-left: 30px;
    padding-right: 30px;
    background-color: #FB9A8C;
  }

  .dao-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* padding-bottom: 150px; */
    padding-top: 50px;
  }

  .dao-heading {
    color: #fff;
    font-size: 2rem;
  } 

  .description-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }

  .description-container p a {
    cursor: pointer;
    color: #000;
  }

  .dao-register {
    /* color: #fff; */
    margin: 0;
    padding: 0;
    cursor: pointer;
  }

  .description-images {
    display: flex;
    flex-direction: row;
  }

  .description-part {
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .description-text {
    border: 1px solid #000;
    width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .image-container {
    border: 1px solid #000;
    /* margin: 0 auto; */
    display: flex;
    justify-content: center;
  }

  .image-container:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
  .image-text {
    display: block;
    text-align: center;
    margin-top: 5px;
  }
  

  .dao-description {
    /* color: #fff; */
    color: #000;
    text-align: center;
    /* padding: 30px; */
  }

  .description-image {
    width: 20%;
    padding: 0;
    margin: 0;
  }

  .register-button {
    background-color: #000;
    color: #fff;
  }
  
  /* Media query for mobile devices */
  @media (max-width: 600px) {
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  
    button {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }