.dao-container2 {
  margin-top: 100px;
  width: 100%;
  /* height: 100vh; */
  /* background: radial-gradient(circle, rgba(240,247,243,1) 0%, rgba(6,31,166,1) 0%, rgba(14,6,50,1) 100%); */
  /* background-color: #f1f1f1; */
}

.dao-heading {
  color: #000;
  margin: 40px auto;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  padding-top: 1rem;
  color: #000;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  padding-top: 15px;
  grid-gap: 50px;
} 

.card-info p, .card-info h3 {
  color: #000;
}

.card {
  width: calc(33.33% - 20px);
  background-color: #f1f1f1;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-info {
  margin-bottom: 12px;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
  box-shadow: green;
}

.pending {
  color: red;
}

.approved {
  color: green;
}

/* DAO styles */
.content-container {
  height: 70vh;
}

.dao-details, .reports-container {
  display: flex;
  flex-direction: column;
}

.descriptionArea {
  display: flex;
  flex-direction: column;
}

.close-btn {
  margin: 20px;
}

.invest-input {
  width: 30vw;
}
 
.details-dao:hover {
  background: rgb(180,255,174);
  background: linear-gradient(90deg, rgba(180,255,174,1) 0%, rgba(213,255,222,1) 32%, rgba(180,255,174,1) 100%);;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 20px;
  padding-top: 15px;
  grid-gap: 50px;
} 

.card {
  width: calc(33.33% - 20px);
  /* Other existing styles for the card... */
}

/* Media query for screens below 768px (tablet and phone) */
@media screen and (max-width: 768px) {
  .card-container {
    flex-direction: column; /* Change to column layout */
    align-items: center; /* Center cards in the column */
  }

  .card {
    width: 80%; /* Adjust card width to fit in the column */
  }
}

