.farmersdashboardright-container {
    height: 70vh;
    margin-top: 70px;
    border-left: 1px solid #000;
    border-bottom: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.ownersdiv {
    display: flex;
    justify-content: center;
    border: 1px solid #000;   
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    /* margin-left: 50px; */
}

.ownersdiv h3 {
    margin-right: 20px;
}

.ownersdiv div p b {
    color: #ccc;
}

.investors-main-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.invested-container, .investors-container {
    border: 1px solid #000;
    border-radius: 20px;
    padding: 30px;
}

.investors-container {
    margin-left: 10px;
}

.invested-container h3 {
    text-align: center;
    margin-bottom: 10px;
}

.invested-container div p {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.invested-container div p b {
    margin-left: 15px;
}

.investors-container {
    text-align: center;
}

.investors-container div {
   margin-top: 10px;
   color: #ccc;
}

.farmer-pay-button {
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 1px solid #000; */
}

.farmer-pay-button button {
    background-color: #b3e88a; 
    margin: 20px;
}

